html{
    scroll-behavior: smooth;
    .navigate-white{
        background: #050f12f2 !important;
        a{
            color: white;
            @media (min-width: 768px){
                color: #1383a1;
            }
        }
        transition: all 0.5s;
        @media (min-width: 768px){
            background: #050f12f2 !important;
            box-shadow: 0 0 15px #000000;
        }
    }
}

#about, #home, #projects{
    background: black !important;
}
body::-webkit-scrollbar-track {
    background-color: #6283adb8 !important;
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0 6 187 / 46%);
  }
  body::-webkit-scrollbar {
    width: 5px; /*ancho del scroll vertical*/
    height: 2px; /*alto del scroll horizontal*/
  }
img, h1, h2, h3, h4, h5, h6{
    pointer-events: none;
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}