
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
/* BODY */
.container-animanion {
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
  padding: 17px 0;
}


/* JUMP */
h2 {
  cursor: default;
  width: auto;
  height: 100px;
  text-align: center;
}

h2 span {
  position: relative;
  top: 0px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  font-size: 50px;
  @media (min-width: 724px ){
    font-size: 80px;
  }
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h2 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

$base-color: rgb(158, 138, 211);
@for $i from 0 through 20 {
    h2 span:nth-child(#{$i}) {
      color: lighten($base-color, $i * 2%);
      -webkit-animation-delay:  (10s / $i);
    }
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: 10px;
    @media (min-width: 724px){
        top: -20px;
    }
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}